<!DOCTYPE>
<html>
  <head>
    <title>Web Practice</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link type="text/css" rel="stylesheet" href="main.css" />
    <link type="text/css" rel="stylesheet" href="reset.css" />
    <script src="jquery-3.2.1.js" type="text/javascript" ></script>
    <script src="react.js" type="text/javascript" ></script>
    <script src="react-dom.js" type="text/javascript" ></script>
    <script src="babel.min.js" type="text/javascript" ></script>
  </head>
  <body>
    <div id="content">
      <!-- Your code here -->
    </div>

    <script type="text/javascript">
      // Your js code here
    </script>

    <script type="text/babel">
      // Your es6 code here
    </script>
  </body>
</html>
